* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

/* navbar start */

.navbar-head {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}
.navbar-brand{
    padding:10px;
    letter-spacing: 5px;
    color: black !important;
    font-size: 15px;
}
.navbar-brand:hover{
    background-color:rgb(194, 192, 192)
}
.nav-link{
    letter-spacing: 4px;  
}
.navbar{
    position: fixed;
    padding: 7px 10px;
    background-color: white;
    z-index: 1;
    left: 0;
    top: 0px;
    width: 100%;
}
.nav-left {
    width: 100px;
}
.shadow-nav{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);

}
.nav-right {
    flex: 1;
    /* width: 100%; */
}
.menu-item:hover{
    background-color: rgb(226, 226, 226);
}

/* navbar end */

/* container head start */
.container-head {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* container head end */


/* Home start */
.background-image{
    width: 100%;

}
.home-bg-image{
    width: 100%;
    position: relative;
}
.architect{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.Architects{
    letter-spacing: 5px;
}

/* Home End */


/* Project start */

.horizontal-line{
    width: 100%;
    text-align: left;
    margin-left:0;
}
.home-image{
    position: relative; 
}

.House-heading{
    position: absolute;
    top: 0%;
    left: 0%;
}

/* Project start */

/* About start */

.card-img-top{
    filter: grayscale(0.8);
}
.contact-button{
    border-radius: 0%;
    background-color:rgb(237, 237, 237);
    color:black;
    border:0px;
}
.contact-button:hover{
    background-color:rgb(198, 198, 198);
}
.horizontal-line{
    background-color:rgb(211, 209, 209)
}
/* About End */


/* Contact start */
.form-control{
    border-radius: 0%;
}
.send-button{
    border-radius: 0%;
}
/* Contact End */